.footer {
	padding: 30px 0;

	background-color: #2a2d33;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 650px) {
			flex-direction: column;
		}
	}

	// .footer__logo

	&__logo {
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		user-select: none;
		cursor: pointer;

		@media (min-width: 992px) {		
			&:hover {
				&:before, &:after {transform: scale(.92) translateY(-55%);}
			}	
		}

		@media (max-width: 650px) {
			margin: 0px 0px 30px 0px;
		}

		@media (max-width: 370px) {
			flex-direction: column;
		}

		&:before {
			content: '';
			position: absolute;
			top: 14px;
			left: 0;

			width: 30px;
			height: 30px;
			border-radius: 50%;

			background-color: #67bf95;

			transform: translateY(-50%);

			transition: all ease-in-out .3s;
		}

		&:after {
			content: '';
			position: absolute;
			top: 14px;
			left: 0;

			width: 15px;
			height: 30px;
			
			background: url(../img/header/header__logo.png) left / cover no-repeat;

			transform: translateY(-50%);

			transition: all ease-in-out .3s;
		}
	}

	// .footer__brand

	&__brand {
		position: relative;

		margin: 0px 0px 0px 40px;
		padding: 0px 15px 0px 0px;

		font-family: 'Roboto';
		font-size: 24px;
		font-weight: 400;
		color: #efefef;

		@media (max-width: 370px) {
			margin: 0px 0px 15px 40px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;

			width: 2px;
			height: 30px;

			background-color: #efefef;
		}
	}

	// .footer__author

	&__author {
		margin: 0px 0px 0px 15px;

		font-family: 'Roboto';
		font-size: 16px;
		font-weight: 500;
		color: #8d8d8d;
	}

	// .footer__list

	&__list {
		display: flex;
	}

	// .footer__item

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		
		width: 40px;
		height: 40px;
		border: 1px solid #656566;
		border-radius: 50%;
		margin: 0 15px;

		cursor: pointer;

		@media (min-width: 992px) {
			&:hover {
				path {fill: #67bf95;}
				border: 1px solid #67bf95;
			}	
		}
	}

	// .footer__link

	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		
		svg {
			width: 20px;
			height: 20px;
			path {fill: #656566;}
		}
	}
}
